@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


ion-title {
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    font-size: 25px;

}

ion-toolbar {
    --background: #ff9e0d;
    color: #eee;
    border: none;
    padding: 5px;
}

.encabezado {
    
    margin-top: 50px;
    margin-left: 10px;

    h1 {
        font-size: 1.6rem;
        font-family: 'Roboto', sans-serif;
        font-weight: bolder;
    }

    p {
        font-family: 'Roboto', sans-serif;
    }

}

ion-item {
    --border-color: rgb(201, 186, 186); // color del borde
    --highlight-color-invalid: red; // color del borde si existe un formulario y es invalido
    --highlight-color-valid: yellow; // same, pero cuando es valido.
}

ion-input {
    font-size: 0.9rem;
}


.boton {
ion-button {
    --background:  #ff9e0d;
    width: 100%;
    color: #eee;
}
}

