<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-back-button routerLink="/tipo-registro"></ion-back-button>
    </ion-buttons>
    <ion-title>RegistrAPP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <h1>Nueva Contraseña</h1>

    <form #formulario="ngForm" (ngSubmit)="onSubmitTemplate">
      <ion-list>
        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input type="password" name="password" [(ngModel)]="usuario.password" required ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Repetir Contraseña</ion-label>
          <ion-input type="password" name="re_password" [(ngModel)]="usuario.re_password" required ></ion-input>
        </ion-item>
      </ion-list>
  
      <div class="boton">
        <ion-button (click)="passwordChanged()" size="small" expand="full" type="submit" [disabled]="formulario.invalid" routerLink="/bienvenida"> Enviar correo </ion-button>
      </div>
    </form>



</ion-content>
