<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-back-button routerLink="/tipo-registro"></ion-back-button>
    </ion-buttons>
    <ion-title>RegistrAPP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="login-container ion-padding">
    <div class="encabezado">
      <h1>Completa tu registro como docente!</h1>
    </div>
    

    <form #formulario="ngForm" (ngSubmit)="onSubmitTemplate">
      <ion-list>
        <ion-item>
          <ion-label position="floating">Nombres</ion-label>
          <ion-input type="text" name="nombres" [(ngModel)]="usuario.nombres" required></ion-input>
        </ion-item>  
        <ion-item>
          <ion-label position="floating">Apellidos</ion-label>
          <ion-input type="text" name="apellidos" [(ngModel)]="usuario.apellidos" required ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Correo Electrónico</ion-label>
          <ion-input type="email" name="email" [(ngModel)]="usuario.email" required ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Escuela: </ion-label>
          <ion-select>
            <ion-select-option>Administración y Negocios</ion-select-option>
            <ion-select-option>Auditoría</ion-select-option>
            <ion-select-option>Comunicación</ion-select-option>
            <ion-select-option>Construcción</ion-select-option>
            <ion-select-option>Diseño</ion-select-option>
            <ion-select-option>Gastronomía</ion-select-option>
            <ion-select-option>Informática y Telecomunicaciones</ion-select-option>
            <ion-select-option>Ingeniería y Recursos Naturales</ion-select-option>
            <ion-select-option>Salud</ion-select-option>
            <ion-select-option>Turismo y Hotelería</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input type="password" name="password" [(ngModel)]="usuario.password" required ></ion-input>
        </ion-item>
        
      </ion-list>
        


      <div class="boton">
        <ion-button (click)="cuentaCreada()" size="small" expand="full" type="submit" [disabled]="formulario.invalid" routerLink="/home-docente"> Completar Registro </ion-button>
      </div>

      <div class="tieneCuenta">
        <p>¿Ya tienes una cuenta? <a routerLink="/login">Inicia Sesión</a> </p>
      </div>

    </form>

  
  </div>
  
</ion-content>
