<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-back-button routerLink="/tipo-registro"></ion-back-button>
    </ion-buttons>
    <ion-title>RegistrAPP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="login-container ion-padding">
    <div class="encabezado">
      <h1>Completa tu registro como docente!</h1>
    </div> 
   

  <form [formGroup]="formularioRegistro" (keyup.enter)="CrearUsuario()">
    <ion-list>
      <ion-item>
        <ion-label position="floating">Nombres</ion-label>
        <ion-input type="text" formControlName="nombre"></ion-input>
      </ion-item>  
    
      <ion-item>
        <ion-label position="floating">Apellidos</ion-label>
        <ion-input type="text" formControlName="apellidos" ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Escuela</ion-label>
        <ion-select class="selectEscuela" value="" multiple="false" formControlName="escuela">
          <ion-select-option>Administración y Negocios</ion-select-option>
          <ion-select-option>Auditoría</ion-select-option>
          <ion-select-option>Comunicación</ion-select-option>
          <ion-select-option>Construcción</ion-select-option>
          <ion-select-option>Diseño</ion-select-option>
          <ion-select-option>Gastronomía</ion-select-option>
          <ion-select-option>Informática y Telecomunicaciones</ion-select-option>
          <ion-select-option>Ingeniería y Recursos Naturales</ion-select-option>
          <ion-select-option>Salud</ion-select-option>
          <ion-select-option>Turismo y Hotelería</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Correo Electrónico</ion-label>
        <ion-input type="email" formControlName="correo" ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>
     <br>
     <div class="boton">
      <ion-button (click)="CrearUsuario()" expand="block" shape="round"> Completar Registro </ion-button>
     </div>

     <div class="tieneCuenta">
      <p>¿Ya tienes una cuenta? <a routerLink="/login">Inicia Sesión</a> </p>
    </div>

    </ion-list>
  </form>

</div>  
  

</ion-content>