@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

ion-title {
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    font-size: 25px;

}

ion-toolbar {
    --background: #ff9e0d;
    color: #eee;
    border: none;
    padding: 5px;
}



.encabezado {
    
    h1 {
        font-size: 1.6rem;
        font-family: 'Roboto', sans-serif;
        font-weight: bolder;
    }


}

.login-container {
    ion-label {
        top: 3px;
        font-family: 'Roboto', sans-serif;
    }

    ion-item {
        --border-color: rgb(201, 186, 186); // color del borde
        --highlight-color-invalid: red; // color del borde si existe un formulario y es invalido
        --highlight-color-valid: yellow; // same, pero cuando es valido.
    }

    ion-input {
        font-size: 0.9rem;
    }
}

.boton {
    ion-button {
        --background:  #ff9e0d;
        width: 100%;
        color: #eee;
    }
}

.tieneCuenta {
    margin-bottom: 30px;

    p {
        font-size: 12px;
    }

    a {
        color: #ff9e0d;
        font-size: 12px;
        text-decoration: none;
    }
    
}

.selectEscuela {
    max-width: 100% !important;
    width: 100% !important;
    padding-left: 0 !important;
}