<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-back-button routerLink="/home-docente"></ion-back-button>
    </ion-buttons>
    <ion-title>RegistrAPP</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <h1>Instrucciones</h1>
  <ol>
    <li>Ingresa a la aplicación como estudiante.</li>
    <li>En el inicio encontrarás el apartado "Escanear QR, entra ahí."</li>
    <li>Al activarse la cámara apunta tu dispositivo al código para registrar tu 
      asistencia.
    </li>
  </ol>
    
  <ion-thumbnail>
      <img src="assets/qr.png" />
  </ion-thumbnail>
  


    

</ion-content>
