

<ion-content>
  
  
  <br><br><br><br>
  <div class="texto">
    <h1>Te damos la bienvenida a </h1>
    <div class="logo">
      <img src="assets/logo.png" alt="Logo">
    </div>
    <p>Como estudiante de Duoc UC, RegistrAPP te permitirá registrar tu propia asistencia de manera instántanea simplemente escaneando un código QR. Como
      docente, cumplirás la labor de generar el código QR para tu estudiante. No esperes más y experimentalo por tí mismo.
    </p>
  </div>

  <div class="btn">
    <ion-button routerLink="/tipo-registro">Comencemos</ion-button>
  </div>

  



</ion-content>
