
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic&display=swap');



.texto {
    
    text-align: center;
    font-family: 'IBM Plex Sans Arabic', sans-serif;

    .logo {
        max-height: 250px;
    }


    h1{
        font-size: 1.6rem;
        font-weight: bolder;
    }
    p {
        text-align: center;
    }

}





.btn {
    text-align: center;
    
    ion-button{
        text-transform: none;
        font-size: 16px;
        height: 50px;
        --background: #ff9e0d;
    }

}