

<ion-content>
  
  <div class="imagen">
    <img src="/assets/icon/favicon.png" alt="Bienvenida">
  </div>
  <div class="texto">
    <h1>Te damos la bienvenida a <p class="logo1">Registr</p> <p class="logo2">APP</p> </h1>
    <p>Como estudiante de Duoc UC, RegistrAPP te permitirá registrar tu propia asistencia de manera instántanea simplemente escaneando un código QR. Como
      docente, cumplirás la labor de generar el código QR para tu estudiante. No esperes más y experimentalo por tí mismo.
    </p>
  </div>

  <div class="btn">
    <ion-button routerLink="/tipo-registro">Comencemos</ion-button>
  </div>

  <ion-item>
    <ion-avatar slot="start">
      <img src="./avatar-finn.png" />
    </ion-avatar>
    <ion-label>
      <h2>Finn</h2>
      <h3>I'm a big deal</h3>
      <p>Listen, I've had a pretty messed up day...</p>
    </ion-label>
  </ion-item>



</ion-content>
