<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="mostrarMenu()">
        <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Nosotros</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content>

  <ion-card mode="ios">
    <img src="" alt="Nosotros">
    <ion-card-header>
      <ion-card-title>¿Quiénes Somos?</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>RegistrAPP es una aplicación de escaneo de código QR simple, eficiente y directa, la cual registra 
      la asistencia con su día y hora correspondiente</p>
    </ion-card-content>
  </ion-card>

  <ion-grid>
    <ion-row>
      <ion-col size-xs="12" size-md="6">
        <ion-card>
          <ion-card-title>¿Cómo nació RegistrAPP?</ion-card-title>
          <p>RegistrAPP nace como una iniciativa de caridad debido a
             las dificultades que puede tener el docente a la hora de registrar asistencia a sus alumnos por distintos **motivos**.
          </p>
        </ion-card>
      </ion-col>
      <ion-col size-xs="12" size-md="6">
        <ion-card>
          <ion-card-title>¿Cómo utilizar la aplicación?</ion-card-title>
          <p>
            En RegistrAPP basta con que el docente inicie sesión y genere el código QR 
            una vez para que los alumnos a través de la misma app y con su respectiva cuenta
            activen el escaner que trae esta misma y registren su asistencia para así ambos quitarse
            ese peso de encima.
          </p>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>



</ion-content>
