@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

ion-title {
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    font-size: 25px;

}

ion-toolbar {
    --background: #ff9e0d;
    color: #eee;
    border: none;
    padding: 5px;
}


.encabezado {
    
    h1 {
        font-size: 1.6rem;
        font-family: 'Roboto', sans-serif;
        font-weight: bolder;
    }


}

.boton {
    ion-button {
        --background:  #ff9e0d;
        width: 100%;
        color: #eee;
    }



}

.tieneCuenta {
    margin-bottom: 30px;

    p {
        font-size: 12px;
    }

    a {
        color: #ff9e0d;
        font-size: 12px;
        text-decoration: none;
    }
    
}