<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="mostrarMenu()">
        <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title> RegistrAPP </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="encabezado">
    <h1>Bienvenido de vuelta, {{nombre}}!</h1>
  </div>


  
  
  <ion-item>
    <ion-avatar slot="start">
      <img src="assets/avatar.png" />
    </ion-avatar>
    <ion-label>
      <h2> {{nombre}} {{apellidos}} </h2>
      <h3> {{carrera}} </h3>
    </ion-label>
  </ion-item>

  <div class="texto">
    <h1 style="margin-left: 10px;">Comienza a explorar</h1>
  </div>

  <ion-searchbar placeholder="¿Qué desea hacer?"></ion-searchbar>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Consulta tu asistencia</ion-card-title> <br>
      <img routerLink="/asistencia" src="assets/asistencia.png" />
    </ion-card-header>
    <ion-card-content>
      Consulta el registro de asistencia que has realizado mediante la aplicación
    </ion-card-content>
  </ion-card>



  <ion-card>
    <ion-card-header>
      <ion-card-title>Registra tu asistencia</ion-card-title> <br>
      <img (click)="escanearQR()" src="assets/escanearqr.png" />
    </ion-card-header>
  </ion-card>





  

  

</ion-content>
