<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-back-button defaultHref="bienvenida"></ion-back-button>
    </ion-buttons>
    <ion-title>RegistrAPP</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="encabezado">
    <h1>Selecciona el tipo de cuenta a crear</h1>
  </div>

  <div class="container-img">
    <ion-avatar>
      <img alt="Avatar de estudiante" src="assets/students.png" />
    </ion-avatar>
    <ion-button routerLink="/registro-alumno">Estudiante</ion-button>

    <ion-avatar>
      <img alt="Avatar de docente" src="assets/teacher.png" />
    </ion-avatar>
    <ion-button routerLink="/registro">Docente</ion-button>

    <ion-avatar>
      <img alt="Avatar de Miembro" src="assets/member.png" />
    </ion-avatar>
    <ion-button routerLink="/login">Soy Miembro</ion-button>

  </div>

  



  

  


</ion-content>
