ion-toolbar {
    --background: #ff9e0d;
    color: #eee;
    border: none;
    padding: 5px;
}

ion-badge {
    --background: #ff9e0d;
}

.encabezado {
    
    margin-top: 20px;
    margin-left: 10px;

    p {
        font-size: 1.0rem;
        font-family: 'Roboto', sans-serif;
        font-weight: bolder;
    }

}