@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

ion-title {
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    font-size: 25px;

}


ion-toolbar {
    --background: #ff9e0d;
    color: #eee;
    border: none;
    padding: 5px;
}

.texto{
    p {
        margin: 10px;
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
    }
}

.rectangulo {
    width: 100%;
    height: 350px;
    background-color: #0B0909;
}

.btn {
    text-align: center;
    
    ion-button{
        text-transform: none;
        font-size: 16px;
        height: 50px;
        --background: #ff9e0d;
    }

}